@use "sass:map";
@import "style/pages/_theme.scss";

.main__dashboard{
    background-color: map.get($main-colors, "main-4");
    // background-color: #b0cab6;
}

.btn__add_topic{
    background-color: map.get($theme-colors, "btn-blue");
    &:hover{
        background-color: rgb(33, 116, 189);
    }
    
}
.btn__compare{
    background-color: map.get($theme-colors, "btn-green");
    &:hover{
        background-color: rgb(50, 159, 74);
    }
}

.title__top{
    font-size: 2.5rem;
    color: map.get($theme-colors, "btn-blue");
}

.table {
    display: flex;
    flex-direction: column;
    
}

.cell {
    flex: 1;
    text-align: center;
    color: white;
    border: 2px solid #dee2e6;
    padding: 1rem;
    font-size: 1.5rem;
    background-color: map.get($theme-colors, "btn-blue");
}
.row__body{

}
.cell__body {
    margin-top: 0.5rem;
    flex: 1;
    text-align: center;
    background-color: transparent;
    border: 2px solid #dee2e6;
    padding: 1rem;
    font-size: 1.5rem;
    color: map.get($theme-colors, "btn-blue");
}

.cell_1{
    flex: 2;
}
.cell_3{
    flex: 3;
    border: 2px solid #dee2e6;
    .cell_3_body {
        flex: 1;
        text-align: center;
        color: white;
        padding: 1rem;
        font-size: 1.5rem;
        background-color: map.get($theme-colors, "btn-blue");
    }
}

.header>div>.row{
    padding: unset;
}

.cell__body_1{
    flex: 2;
}

.row__body>div>.row{
    padding: unset;
}

.cell__body_3{
    flex: 3;
    border: 2px solid #dee2e6;
    margin-top: 0.5rem;
    .cell__body_3_body{
        flex: 1;
        text-align: center;
        padding: 1rem;
        font-size: 1.5rem;
        color: map.get($theme-colors, "btn-blue");
        background-color: transparent;
    }
}

.fixed-button {
    position: fixed;
    bottom: 3rem;
    right: 3rem;
    z-index: 999;
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
